/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2015, 2:48:11 PM
    Author     : kubal
*/

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
}

#hlavicka {
    background-color: #00DFFC;
    color: white;
    font-size: 80px;
    text-align: center;
    padding: 20px;
    border-bottom: rgb(0,200,226) solid 15px; 
}

#registrationform {
    margin: 0 auto;
    padding: 20px;
    width: 360px;
    height: 1395px;
}


#login, #password, #nazovFirmy, #ulica, #mesto, #psc, #stat, #ico, #cisloUctu, #banka, #iban, #swift, #dic {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(0,0,0,0.5);
    width: 360px;
    margin-bottom: 30px;
}

#reg {
    color: #5f5f5f;
    font-size: 20px;
    border: solid 2px rgba(95, 95, 95, 0.72);
    padding: 10px;
    background-color: transparent;
    transition: color 0.2s, background-color 0.2s;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, border 0.2s;
    -webkit-transition: color 0.2s, border 0.2s;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}

#reg:hover {
    color: rgb(0,200,226);
    background-color: transparent;
    border: solid 2px rgb(0,200,226);
}



#divreg{
    text-align: center;
}

#error {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color: red;
    font-size: 15px;
}
h1 {
    text-align: center;
    font-size: 28px;
    color: #5f5f5f;
}

.label {
    color: #5f5f5f;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
